{% extends "base.html" %}

{% block head %}
<title>Glassmorphism login Form Tutorial in html css</title>


<link rel="stylesheet" href="/static/css/auth.css">


{% endblock %}

{% block content %}
<div class='container'>
    <div class='form-container login'>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>

        <form method="post" action="{%  url 'login'  %}">

            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            {% csrf_token %}
            <h3>Login Here</h3>
            <!-- <label for="username">Username</label>
            <input type="text" placeholder="Username" id="username">

            


            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password"> -->
            {{ form.as_div }}
            <button class="form-button" type="submit">Login</button>
            <div class="social">
                <div class="go"><i class="fab fa-google"></i>Google</div>
                <div class="fb"><i class="fab fa-facebook"></i>Facebook</div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

</html>